body {
  overflow: hidden;
  .masthead {
    .container {
      color: black;
      height: 100vh;
      display: flex;
      align-items: center;
      padding-top: 40px;
      .carousel {
        max-width: 400px;
        margin: 0 auto;
          .carousel-item {
            .card{
              height: 70vh;
              h6 {
                color: red;
              }
            }
            .btn {
              background-color: $theme-primary;
              width: 80%;
              position: absolute;
              bottom: 15px;
              left: 10%;
            }
          }
        .carousel-control-next {
          opacity: 0.8;
          .carousel-control-next-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fed136' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E")         
          }
        }
        .carousel-control-prev {
          opacity: 0.8;
          .carousel-control-prev-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fed136' viewBox='0 0 8 8'%3E%3Cpath d='M4 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E")
          }
        }
        //.carousel-control {
        //  &-prev {
        //    left: -50px;
        //  }
        //  &-next {
        //    right: -50px;
        //  }
        //}
      }
    }
  }
}

